/* Rest of styles are from /src/components/admin/ShiftCalendar/ShiftCalendar.css */

#admin-calendar > .fc-theme-standard .fc-scrollgrid {
  border: 1px solid #ddd;
}

.fc .fc-daygrid-day-number {
  position: absolute;
  top: 3px;
  right: 3px;
}

.fc-daygrid-day.fc-day-other,
.fc-daygrid-day.fc-day-no-events {
  background-color: #f4f4f4;
}

.fc-daygrid-event-dot.fc-event-saved {
  border-color: #38a169;
}

.fc-daygrid-event-dot.fc-event-unsaved {
  border-color: #e53e3e;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #faf5ff;
}
